ansible==6.6.0
asn1crypto
awacs
awscli
bcrypt
beautifulsoup4
boto
boto3
botocore
bs4
certifi
cffi
cfn-flip
chardet
Click
colorama
cryptography
docutils
haproxyadmin
idna
Jinja2
jmespath
MarkupSafe
oci
paramiko
pyasn1
pycparser
PyNaCl
python-dateutil
PyYAML
requests
retry
rsa
s3transfer
s3cmd
six
troposphere
urllib3
oci-cli